@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nova+Mono&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-serif: "Lora", "serif";
  --font-sans: "Lexend", "sans-serif";
  --font-mono: "Nova Mono", "monospace";
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html {
    @apply scroll-pt-6 scroll-smooth;
  }

  body {
    @apply text-xl text-zinc-500 dark:bg-zinc-900 dark:text-zinc-300;
  }

  /* this style was removed from the base tailwind styles??? */
  button {
    @apply cursor-grab;
  }
}
